NEXT                        LEFT     LAST PASSED UNIT               ACTIVATES
Fri 2026-08-28 09:00:00 UTC 16h left -    -      daily-report.timer daily-report.service

1 timers listed.
